<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>League GW Standings</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <ul th:each="gw: ${availableGwStandings}">
		<li><a th:href="'/view/leaguegwstandings?leagueid=' + ${leagueid} + '&event=' + ${gw}" th:text="'GW ' + ${gw}"></a></li>
	</ul>
	
	<p>
		<a th:href="'/view/csv/availableGwStandings?leagueid=' + ${leagueid}" th:text="'Download CSV Data'"></a>
	</p>
</body>
</html>